body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    height: auto;
    margin-top: 48px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.list-group-item {
    display: flex;
}